html, body, head
{
  margin: 0px 0px 0px 0px;
  font-family: fantasy;
  background-color: #462066;
}

.title
{
  font-size: 68px;
  color: #FF7A5A;
  font-style: italic;
  text-align: center;
}

.point
{
  font-size: 38px;
  color:#FFB85F;
  text-align:center;
  text-decoration: none;
}

.bar
{
  margin: 0px 0px 0px 0px;
  top:0;
  position: absolute;
  width:100%;
  color:#FFB85F;
}
