html, body
{
  margin: 0px 0px 0px 0px;
  font-family: fantasy;
  background-color: #462066;
}

.title
{
  font-size: 48px;
  color: #FF7A5A;
  font-style: italic;
  text-align: center;
}

.point
{
  color: #FFB85F;
  font-size: 28px;
}

.subpoint
{
  color: #FFB86F;
  font-size:20px;
}

.subpoint, .point
{
  text-decoration: none;
  text-align:center;
}

.image_border
{
  border: 2px dashed #FFb89F;
}

.bar
{
  top: 0;
  position: absolute;
  color: #FFB85F;
}
